@page
@model gendarazorpages.Pages.Dances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dances</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dances.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dances.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dances.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dances.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dances.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dances.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dances.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dances.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dances.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
